body {
  
    background-color: bisque;
    height: 100%;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    
}

.center {

    position: absolute;
    bottom: 0;
    right:0;
    margin: auto;
    width: 100%;
    height: 90%;
    background-color:aliceblue;
    justify-content: center;
}

.nav {
    
    position: absolute;
    top: 0;
    right:0;
    height: 10%;
    min-height:max-content;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    justify-content: right;
}

.pg-btn {

    padding: 1%;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid darkcyan;
    background-color: aquamarine;

}

.pg-btn:hover{

    background-color:darkcyan;
    cursor: pointer;
}

.fin-btn{
    position: absolute;
    bottom: 5rem;
    right: 5rem;
}

.add-bur{

    width: 100%;
}

.cho-ing{

    float: left;
    width: 50%;
    min-width: 200px;
    text-align: center;

}

.fin-bur{

    float: left;
    width: 50%;
    min-width: 200px;
    text-align: center;

}


.flex {

    display: flex;
    align-items: center;

}

.hidden {
    display: none;
}

.margin{
    margin:1%;
}

.ingredients {

    margin: 1%;
}

.patty, .veggie, .sauce {
    
    padding: 2%;
}

.top-bun{

    border-radius: 150% 150% 10% 10%;
}

.bottom-bun{
    
    border-radius: 10% 10% 150% 150%;
}

.bun {
    
    border: solid 0.15rem rgb(248, 175, 85);
    width: 60%;
    height: 4rem;
    margin: 2rem auto 2rem auto;
    background-color: rgb(247, 198, 139);
}

.tomato {
    border: solid 0.15rem rgb(211, 2, 2);
    border-radius: 1rem;
    width: 50%;
    height: 1.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(247, 107, 107);
}

.egg {
    border: solid 0.15rem rgb(255, 196, 1);
    border-radius: 1rem;
    width: 50%;
    height: 1.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(250, 249, 240);

}

.onion {
    border: solid 0.15rem rgb(233, 82, 247);
    border-radius: 1rem;
    width: 50%;
    height: 1.1rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(238, 227, 238);

}

.lettuce {
    border: dashed 0.15rem rgb(85, 211, 2);
    border-radius: 1rem;
    width: 55%;
    height: 1rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(157, 250, 164);
}

.ham {

    border: solid 0.12rem rgb(211, 2, 65);
    border-radius: 1rem;
    width: 50%;
    height: 0.8rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(250, 157, 193);
}

.bacon {

    border: solid 0.15rem rgb(194, 7, 22);
    border-radius: 1rem;
    width: 50%;
    height: 0.8rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(247, 113, 103);
}


.pickles {
    border: dotted 0.15rem rgb(42, 102, 2);
    border-radius: 1rem;
    width: 15%;
    height: 1rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(0, 180, 15);
}

.jalapeno {
    border: dashed 0.15rem rgb(224, 250, 207);
    border-radius: 1rem;
    width: 15%;
    height: 1rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(26, 116, 34);
}

.cheese {
    border: solid 0.15rem rgb(231, 133, 4);
    border-radius: 0.5rem;
    width: 60%;
    height: 0.6rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(253, 224, 93);
}

.vegan {
    border: solid 0.15rem rgb(252, 155, 27);
    border-radius: 0.5rem;
    width: 60%;
    height: 0.6rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(255, 232, 132);
}

.chicken{
    border: solid 0.15rem rgb(192, 110, 2);
    border-radius: 1rem;
    width: 50%;
    height: 2rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(255, 166, 0);

}

.beef{
    border: solid 0.15rem rgb(114, 2, 39);
    border-radius: 1rem;
    width: 50%;
    height: 2rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(190, 37, 63);
}

.meatballs{

    border: solid 0.15rem rgb(80, 1, 27);
    border-radius: 40%;
    width: 50%;
    height: 2.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(116, 37, 50);
}

.pork{

    border: solid 0.15rem rgb(114, 2, 67);
    border-radius: 1rem;
    width: 50%;
    height: 2rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(190, 37, 108);

}

.vegan-patty{
    border: solid 0.15rem rgb(83, 105, 2);
    border-radius: 1rem;
    width: 50%;
    height: 2rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(134, 148, 9);
}

.mayonnaise{
    border: solid 0.15rem rgb(255, 236, 176);
    border-radius: 1rem;
    width: 60%;
    height: 0.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(248, 247, 210);
}

.ketchup{
    border: solid 0.15rem rgb(211, 2, 2);
    border-radius: 1rem;
    width: 60%;
    height: 0.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(247, 107, 107);
}

.barbeque{
    border: solid 0.15rem rgb(145, 1, 32);
    border-radius: 1rem;
    width: 60%;
    height: 0.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(224, 56, 70);

}

.hot{
    border: solid 0.15rem rgb(255, 0, 0);
    border-radius: 1rem;
    width: 60%;
    height: 0.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(255, 72, 72);

}

.mustard{
    border: solid 0.15rem rgb(250, 199, 30);
    border-radius: 1rem;
    width: 60%;
    height: 0.5rem;
    margin: 0.8rem auto 0.8rem auto;
    background-color: rgb(255, 247, 0);

}